# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build_and_Scan
  displayName: Build and scan a Docker image
  jobs:
  - job: Build
    displayName: Build and scan
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/vote/Dockerfile'
        containerRegistry: \*\*\*
        repository: totally1234random
        tags: |
          $(tag)
    - task: CmdLine@2
      displayName: Lacework vuln scan
      env:
        LW_ACCOUNT_NAME: $(LW_ACCOUNT_NAME)
        LW_ACCESS_TOKEN: $(LW_ACCESS_TOKEN)
        LW_SCANNER_SAVE_RESULTS: true
      inputs:
        script: |
          #docker run \
          #-e LW_ACCOUNT_NAME=$(LW_ACCOUNT_NAME) \
          #-e LW_ACCESS_TOKEN=$(LW_ACCESS_TOKEN) \
          #-e LW_SCANNER_SAVE_RESULTS=true \
          #-v /var/run/docker.sock:/var/run/docker.sock \
          #lacework/lacework-inline-scanner:latest \
          #image evaluate vote $(tag) --policy --critical-violation-exit-code 2
          docker images
          apt-get update
          apt-get -y install curl
          curl -L https://github.com/lacework/lacework-vulnerability-scanner/releases/latest/download/lw-scanner-linux-amd64 -o lw-scanner
          chmod u+x lw-scanner
          ./lw-scanner image evaluate "***/totally1234random" $(tag) --debug -v
